/* 
    Created on : Nov 28, 2015,
    Author     : BYUI CIT 261 02 (Online) - Fall 2015 Team 2
*/

body {
	font-family: Arial;
	background-color: #fdfdfd;
}
div.container {
    position: relative; 
    max-width: 960px;
    min-width: 320px;
    height: auto;
    margin: 0 auto 1em auto;
    padding: 0;
   // background-image: url("../images/container9.png");
   // background-repeat: repeat-y;
    border: 1px solid #424eed;
    box-shadow: 0 0 5px #000;
}
div.mainContent {
    padding: 1em;    
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
#nav li {
	float: left; 
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #999;
	border-right: 1px solid #ccc; 
}
#nav li input {
        display: block;
        height: 28px;
        
}

#nav li a:hover {
	color: #90ee90;
	background-color: #fff; 
}
.title {
	padding: 20px;
	padding-left: 50px;
	color: #069;
}
.browsefilter{
    background-color:#f2f2f2;
    padding: 8px 15px;
    border-color: black;
    border: 5px;         
}
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}