/* 
    Created on : Nov 19, 2015,
    Author     : BYUI CIT 261 02 (Online) - Fall 2015 Team 2
*/
body {
	font-family: Arial;
	background-color: #fdfdfd;
}
/* Body Container ................................*/
div.container {
    position: relative; 
    max-width: 960px;
    min-width: 320px;
    height: auto;
    margin: 0 auto 1em auto;
    padding: 0;
   // background-image: url("../images/container9.png");
   // background-repeat: repeat-y;
    border: 1px solid #424eed;
    box-shadow: 0 0 5px #000;
}
div.mainContent {
    padding: 1em;    
}
/* Navigation Bar ...............................*/
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
#nav li {
	float: left; 
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #999;
	border-right: 1px solid #ccc; 
}
#nav li input {
        display: block;
        height: 28px;
        
}
#nav li a:hover {
	color: #90ee90;
	background-color: #fff; 
}
/* Nav2 Bar ...............................*/
#nav2 {
	width: 100%;
        height: 49px;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
#nav2 li {
	float: left; 
}
#nav2 li p {
	display: block;
        padding: 2px 15px 4px 15px;
	font-weight: bold;
	color: #999;
	border-right: 1px solid #ccc; 
}
#nav2 li input {
        display: block;
        height: 28px;
        margin-top: 8px;
        
}
#nav2 li p:hover {
	color: #90ee90;
	background-color: #fff; 
}

/* Animated Buttons (Wendi) ................................*/





/* Nav Bar Title  ..........................*/
.title {
	padding: 20px;
	padding-left: 50px;
	color: #069;           
}

/* Title Animation Wendi ...................*/  
.title {
       animation-duration: 2s;
       animation-name: slidein;
}       
       @keyframes slidein {
       from {
       margin-left: 70%;
       width: 300%;
       }

       to {
       margin-left: 0%;
       width: 100%;
       }
}/*End title animation */


.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
[unselectable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/* Brendon's Browse your Movies on library.php */
.browsefilter{
    background-color:#f2f2f2;
    padding: 0px 15px 8px;
    border-color: black;
    border: 5px;     
    border-bottom: 1px solid #ccc; 
    border-top: 5px solid #ccc; 
    
}

.browseform {
    font-family: Arial, Helvetica,  sans-serif;
   display: inline;
   	

}
.browseform p{
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: -1px;
    padding: 0px 4px;
    background-color: #f2f2f2;
    font-weight: bold;
    color: #999;
   
    
}
.browseform select{
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: -1px;
    padding: 0px 4px;
    
}


.tg-button {
    float: left;
    padding: 0;
    margin-top: 5px;
    
}
.tg-button input {
    display:none;
}
.tg-button label {
    margin-top: -1px;
    font-weight: normal;
    color: #999;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 0px 10px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    
}
.tg-button label:hover {
    color: #90ee90;
    background-color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.tg-button label:active,
.tg-button input:focus + label {
    background-color: #90ee90;
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
}

.tg-button input:checked + label {
    background: #90ee90;
    color: white;
    
    -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px  rgba(0, 0, 0, 0.05);
}
.tg-button:first-child label {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0;
}
.tg-button:last-child label {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}/*End Brendosn's Browse you movie code ...................*/
/*  Adding Amy's (table) style to form and making responsive */
/* Form style for Phone ....................................... */ 
@media only screen and (max-width: 600px) {   
#addMoviesForm #searchForm {
	border: 1px solid #069;
	background-color: #eeeeee;
	padding: 10px;  
	color: #069;   
	width: 300px;        
} 
#searchForm {
	border: 1px solid #069;
	background-color: #eeeeee;
	padding: 10px;  
	color: #069;   
	width: 300px;        
} 
}
/* Form style for tablet/desktop .................................*/
@media only screen and (min-width: 601px) {
#addMoviesForm {
	border: 1px solid #069;
	background-color: #eeeeee;
	padding: 20px;  
	color: #069;   
	width: 50%;        
}
#searchForm {
	border: 1px solid #069;
	background-color: #eeeeee;
	padding: 20px;  
	color: #069;   
	width: 50%;        
}
.addMoviesForm {
        font-size: 1.2em;
}
}
/* Table Styling for Movie Table*/
table, th, td {
	border: 1px solid white;
	background-color: #eeeeee;
}
table {
	color: #069;
	border-collapse: collapse;
	//width: 100%;
}
tr {

}
td, th {
	padding: 10px;
}
tr:hover {
	color: #90ee90;
	color: black;
	background-color: #fff; 
}
